.dropRegion {
  border: none !important;
  padding: 16px !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  cursor: var(--cursor-click-url), pointer !important;
}

.dropRegion svg {
  display: none;
}

.dropRegion span:last-child {
  display: block;
}

.dropRegion span[title] {
  display: none !important;
}
