.main {
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
}

.dropRegion {
  border: none !important;
  padding: 16px !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  cursor: var(--cursor-click-url), pointer !important;
}

.dropRegion svg {
  display: none;
}

.dropRegion span:last-child {
  display: block;
}

.dropRegion span[title] {
  display: none !important;
}

.scrollToTop {
  z-index: 9998;
  position: fixed !important;
  bottom: 16px;
  right: 0px;
  margin-right: 0;
}

.headerToolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.applyChildrenMarginRight div {
  margin-right: 1em !important;
}

.sourceCodeButton {
  position: absolute;
  right: -4px;
  bottom: -4px;
}
