.dropRegion {
  border: none !important;
  color: #fff !important;
  cursor: var(--cursor-click-url), pointer !important;
}

.dropRegion svg {
  display: none;
}

.dropRegion span:last-child {
  display: block;
}
