html.nes-ui { 
  img,
  canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    &.invert {
      &.nes-ui-dark-mode  {
          filter: invert(1);
      }
    }
  }
}