::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ccc;

  @include pixel-borders(
    $corner-size: 1,
    $border-size: 4px,
    $border-color: #333,
    $border-inset-color: #fff
  );
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: $base-color;

    @include pixel-borders(
      $corner-size: 1,
      $border-size: 4px,
      $border-color: #99999933,
      $border-inset-color: #00000033
    );
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $base-color;

    @include pixel-borders(
      $corner-size: 1,
      $border-size: 4px,
      $border-color: #bbbbbb33,
      $border-inset-color: #00000033
    );
  }
}
