// designed in 8x8 because 2x upscale
.pixelicon-arrow-up-16 {
  box-shadow: 8px 4px 0 0 $pixelicon-color, 10px 4px 0 0 $pixelicon-color,
    6px 6px 0 0 $pixelicon-color, 8px 6px 0 0 $pixelicon-color,
    10px 6px 0 0 $pixelicon-color, 12px 6px 0 0 $pixelicon-color,
    4px 8px 0 0 $pixelicon-color, 6px 8px 0 0 $pixelicon-color,
    8px 8px 0 0 $pixelicon-color, 10px 8px 0 0 $pixelicon-color,
    12px 8px 0 0 $pixelicon-color, 14px 8px 0 0 $pixelicon-color,
    8px 10px 0 0 $pixelicon-color, 10px 10px 0 0 $pixelicon-color,
    8px 12px 0 0 $pixelicon-color, 10px 12px 0 0 $pixelicon-color,
    8px 14px 0 0 $pixelicon-color, 10px 14px 0 0 $pixelicon-color;
  height: 2px;
  width: 2px;
}
