// designed in 12x12 because 2x upscale
.pixelicon-checkmark-16 {
  box-shadow: 14px 4px 0 0 $pixelicon-color, 15px 4px 0 0 $pixelicon-color,
    13px 5px 0 0 $pixelicon-color, 14px 5px 0 0 $pixelicon-color,
    12px 6px 0 0 $pixelicon-color, 13px 6px 0 0 $pixelicon-color,
    11px 7px 0 0 $pixelicon-color, 12px 7px 0 0 $pixelicon-color,
    10px 8px 0 0 $pixelicon-color, 11px 8px 0 0 $pixelicon-color,
    9px 9px 0 0 $pixelicon-color, 10px 9px 0 0 $pixelicon-color,
    2px 10px 0 0 $pixelicon-color, 3px 10px 0 0 $pixelicon-color,
    8px 10px 0 0 $pixelicon-color, 9px 10px 0 0 $pixelicon-color,
    3px 11px 0 0 $pixelicon-color, 4px 11px 0 0 $pixelicon-color,
    7px 11px 0 0 $pixelicon-color, 8px 11px 0 0 $pixelicon-color,
    4px 12px 0 0 $pixelicon-color, 5px 12px 0 0 $pixelicon-color,
    6px 12px 0 0 $pixelicon-color, 7px 12px 0 0 $pixelicon-color,
    5px 13px 0 0 $pixelicon-color, 6px 13px 0 0 $pixelicon-color;
  height: 2px;
  width: 2px;
}

.pixelicon-checkmark-24 {
  box-shadow: 20px 8px 0 0 $pixelicon-color, 22px 8px 0 0 $pixelicon-color,
    18px 10px 0 0 $pixelicon-color, 20px 10px 0 0 $pixelicon-color,
    16px 12px 0 0 $pixelicon-color, 18px 12px 0 0 $pixelicon-color,
    14px 14px 0 0 $pixelicon-color, 16px 14px 0 0 $pixelicon-color,
    6px 16px 0 0 $pixelicon-color, 8px 16px 0 0 $pixelicon-color,
    12px 16px 0 0 $pixelicon-color, 14px 16px 0 0 $pixelicon-color,
    8px 18px 0 0 $pixelicon-color, 10px 18px 0 0 $pixelicon-color,
    12px 18px 0 0 $pixelicon-color, 10px 20px 0 0 $pixelicon-color;
  height: 2px;
  width: 2px;
}

.pixelicon-checkmark-32 {
  box-shadow: 27px 9px 0 0 $pixelicon-color, 28px 9px 0 0 $pixelicon-color,
    29px 9px 0 0 $pixelicon-color, 26px 10px 0 0 $pixelicon-color,
    27px 10px 0 0 $pixelicon-color, 28px 10px 0 0 $pixelicon-color,
    25px 11px 0 0 $pixelicon-color, 26px 11px 0 0 $pixelicon-color,
    27px 11px 0 0 $pixelicon-color, 24px 12px 0 0 $pixelicon-color,
    25px 12px 0 0 $pixelicon-color, 26px 12px 0 0 $pixelicon-color,
    23px 13px 0 0 $pixelicon-color, 24px 13px 0 0 $pixelicon-color,
    25px 13px 0 0 $pixelicon-color, 22px 14px 0 0 $pixelicon-color,
    23px 14px 0 0 $pixelicon-color, 24px 14px 0 0 $pixelicon-color,
    21px 15px 0 0 $pixelicon-color, 22px 15px 0 0 $pixelicon-color,
    23px 15px 0 0 $pixelicon-color, 20px 16px 0 0 $pixelicon-color,
    21px 16px 0 0 $pixelicon-color, 22px 16px 0 0 $pixelicon-color,
    19px 17px 0 0 $pixelicon-color, 20px 17px 0 0 $pixelicon-color,
    21px 17px 0 0 $pixelicon-color, 18px 18px 0 0 $pixelicon-color,
    19px 18px 0 0 $pixelicon-color, 20px 18px 0 0 $pixelicon-color,
    17px 19px 0 0 $pixelicon-color, 18px 19px 0 0 $pixelicon-color,
    19px 19px 0 0 $pixelicon-color, 16px 20px 0 0 $pixelicon-color,
    17px 20px 0 0 $pixelicon-color, 18px 20px 0 0 $pixelicon-color,
    4px 21px 0 0 $pixelicon-color, 5px 21px 0 0 $pixelicon-color,
    15px 21px 0 0 $pixelicon-color, 16px 21px 0 0 $pixelicon-color,
    17px 21px 0 0 $pixelicon-color, 4px 22px 0 0 $pixelicon-color,
    5px 22px 0 0 $pixelicon-color, 6px 22px 0 0 $pixelicon-color,
    14px 22px 0 0 $pixelicon-color, 15px 22px 0 0 $pixelicon-color,
    16px 22px 0 0 $pixelicon-color, 5px 23px 0 0 $pixelicon-color,
    6px 23px 0 0 $pixelicon-color, 7px 23px 0 0 $pixelicon-color,
    13px 23px 0 0 $pixelicon-color, 14px 23px 0 0 $pixelicon-color,
    15px 23px 0 0 $pixelicon-color, 6px 24px 0 0 $pixelicon-color,
    7px 24px 0 0 $pixelicon-color, 8px 24px 0 0 $pixelicon-color,
    12px 24px 0 0 $pixelicon-color, 13px 24px 0 0 $pixelicon-color,
    14px 24px 0 0 $pixelicon-color, 7px 25px 0 0 $pixelicon-color,
    8px 25px 0 0 $pixelicon-color, 9px 25px 0 0 $pixelicon-color,
    11px 25px 0 0 $pixelicon-color, 12px 25px 0 0 $pixelicon-color,
    13px 25px 0 0 $pixelicon-color, 8px 26px 0 0 $pixelicon-color,
    9px 26px 0 0 $pixelicon-color, 10px 26px 0 0 $pixelicon-color,
    11px 26px 0 0 $pixelicon-color, 12px 26px 0 0 $pixelicon-color,
    9px 27px 0 0 $pixelicon-color, 10px 27px 0 0 $pixelicon-color,
    11px 27px 0 0 $pixelicon-color;
  width: 2px;
  height: 2px;
}
