.hero-dash {
  @supports (border-image-source: none) {
    border-radius: (2 * (4px + 2)) + (4px * 2);
  }

  border-style: solid;
  border-width: 32px;
  border-color: #000;
  border-image-slice: 8;
  border-image-width: 150px;
  border-image-outset: 0;
  border-image-source: url(pixel-borders-image(2, #000));

  @media (prefers-color-scheme: dark) {
    border-color: #fff;
    border-image-source: url(pixel-borders-image(2, #fff));
  }
}

.hero-flower {
  @supports (border-image-source: none) {
    border-radius: (2 * (4px + 2)) + (4px * 2);
  }

  border-style: solid;
  border-width: 32px;
  border-color: #000;
  border-image-slice: 16;
  border-image-width: 110px;
  border-image-outset: 0;
  border-image-source: url(pixel-borders-image(2, #000));

  @media (prefers-color-scheme: dark) {
    border-color: #fff;
    border-image-source: url(pixel-borders-image(2, #fff));
  }
}
