.text {
  &.is-small {
    font-size: 1em;
  }

  &.is-medium {
    font-size: 1.25em;
  }

  &.is-large {
    font-size: 1.5em;
  }

  &.is-xlarge {
    font-size: 1.75em;
  }

  &.is-heading-small {
    font-size: 1.25em;
  }

  &.is-heading-medium {
    font-size: 1.5em;
  }

  &.is-heading-large {
    font-size: 1.75em;
  }

  &.is-heading-xlarge {
    font-size: 2em;
  }

  &.is-primary {
    color: map-get($primary-colors, 'normal');
  }

  &.is-success {
    color: map-get($success-colors, 'normal');
  }

  &.is-warning {
    color: map-get($warning-colors, 'normal');
  }

  &.is-error {
    color: map_get($error-colors, 'normal');
  }

  &.is-disabled {
    color: map_get($disabled-colors, 'normal');
  }
}

.block-text {
  display: inline-block;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $base-color;

  &.is-shadow {
    text-shadow: 1px 1px #fff;

    @media (prefers-color-scheme: dark) {
      text-shadow: 1px 1px #000;
    }
  }
}
