@charset "utf-8";

$cursor-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAARRJREFUWEfdl0ESwyAIRXXr2vtf0L1bO3GqiVTka52SpqukwfD4IhBrzl+6XB+Xltxzt3RdsYPWX43UAJL33oQQmgitrWw0kgY0pb4Ag/WtH+dcijEa+iJ1gLqRpxL5Lw50VYlD3qwh8AIdAJr6ZWs4YM6eO1WiAr8AKD6GWwHWBMMpxCX1Rx1ApeWAvgFYUkJyWAJCFLgXQKVhKt1sck4rcBuAWRApOS/P8wHotcxud9l1OqYBdjnmeoiogAbA0nFEKyXtsqOxaUtplpISmdsgELRL0nrwFwBNTrCjsVAxZyrh7PjdnZTQwQTZAinB0ZGu6+s5AAOZhkFuU0ATgDslUHCQkZSF7+dL35Y7AUDO1kwd4AWXSKwd8HVMJQAAAABJRU5ErkJggg==') !default;
$cursor-click-url: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC")
  14 0 !default; 

@import 'base/_index.scss';
@import 'utilities/_index.scss';
@import 'helpers/_index.scss';
@import 'components/_index.scss';
@import 'form/_index.scss';

// TODO: dark mode support 

html.nes-ui {
   padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.5;

  body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.5;
  } 

  // https://stackoverflow.com/questions/56300132/how-to-override-css-prefers-color-scheme-setting'
  &.dark-mode {
    background-color: var(--color-black-absolute);
    color: var(--color-white-absolute);

    body {
      background-color: var(--color-black-absolute);
      color: var(--color-white-absolute);
    }
  }
}